extends layout

block variables
    - var title = "Gruppen"

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item
        a(href="/user/") Dashboard
    li.breadcrumb-item.active(aria-current="page") Gruppen

block content
    .container-fluid.bg-light.py-4
        h2 Gruppen
        .card-deck.mx-auto.mt-4
            each userGroup in userGroups
                .col-md
                    .card
                        .card-body
                            h5.card-title
                                a(href="/user/gruppen/"+userGroup.group.id)= userGroup.group.title
                            p.card-subtitle Level #{userGroup.level}&nbsp
                                b #{userGroup.titel}
                                | &nbsp(#{userGroup.points}/#{userGroup.levelZiel})
                            p.card-subtitle Du hast #{userGroup.karma} Ehre