include mixins/telegramMixin
block variables
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="/static/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        block head
        title Ivona - #{title}
    body
        nav.navbar.navbar-light.bg-light.navbar-expand-md
            a.navbar-brand(href="") Ivona
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                .navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item
                      a.nav-link(href="/") Home
                    li.nav-item
                        a.nav-link(href="/befehle") Befehle
                .navbar-nav.ml-auto
                    if session.user === undefined
                        if title !== "Login"
                            +telegramLogin
                    else
                        if session.user.isAdmin
                            li.nav-item
                                a.nav-link(href="/user/admin") Admin
                        li.nav-item
                            a.nav-link(href="/user") Dashboard
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle#navbarDropdown(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{session.user.name}
                            .dropdown-menu.dropdown-menu-right(aria-ladelledby="navbarDropdown")
                                a.dropdown-item(href="/user/profil") Profil
                                a.dropdown-item(href="/user/logout") Logout

        nav(aria-label="breadcrumb")
            if breadcrumbs
                ul.breadcrumb
                    each breadcrumb in breadcrumbs
                        li.breadcrumb-item
                            a(href=breadcrumb.url) #{breadcrumb.name}

        block alerts
            if notificationDanger
                .alert.alert-danger.alert-dismissable.fade.show.mx-2(role="alert") #{notificationDanger}
                    button.close(type="button", data-dismiss="alert")
                        span &times;
            if notificationSucess
                .alert.alert-success.alert-dismissable.fade.show.mx-2(role="alert") #{notificationSucess}
                    button.close(type="button", data-dismiss="alert")
                        span &times;
            if notification
                .alert.alert-primary.alert-dismissable.fade.show.mx-2(role="alert") #{notification}
                    button.close(type="button", data-dismiss="alert")
                        span &times;

        block content

        footer.text-center.pt-2
            a(href="/impressum") Impressum
            br
            | IvonaBot 2020

        script(src="/static/jquery/jquery.js")
        script(src="/static/popper.js/umd/popper.js")
        script(src="/static/bootstrap/js/bootstrap.js")