block scripts
    script(defer src="/js/close.js")
mixin ads
    - let count = 1;
    - let interval = 20000;
    - let random = Math.floor(Math.random() * count);
    case random
        when 0
            .carousel.card.bg-primary.text-white.h-100.slide#werbungCarousel(data-ride="carousel")
                .carousel-inner.py-3.lead.text-center
                    .carousel-item.active(data-interval=interval)
                        | Hype dich und spiel
                        br
                        | Dodge or Die
                    .carousel-item(data-interval=interval)
                        | Spiele jetzt!
                        br
                        | RAID: Shadow Legends
                    .carousel-item(data-interval=interval)
                        | Schon mal Bobs Melancholy gespielt?
                    .carousel-item(data-interval=interval)
                        | Emojity
                    .carousel-item(data-interval=interval)
                        | Probier mal
                        br
                        | Tim loben
                button.px-1.close.close-card(style="position:absolute;right:0px" type="button")
                    span &times;
    //.card.bg-primary.text-white.text-center.p-3(id="werbung-" + random).shadow
    //            h4 Hype dich und spiel Dodge or Die!